body {
    /*background-image: url("/themes/custom/TWorktheme/images/turquise.jpg");
    background-repeat: no-repeat; /* Do not repeat the image
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #faf7f2;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    text-align: center;
    color: #2bb3c0;
    font-size: 4.5em;
    text-shadow: 3px 6px #144226;
    margin-top: 70px;
}

#logocontainer {
    position: relative;
}
#logopng {
    position: absolute;
    top: 20px;
    left:10px;
    height:40px;
    width:40px;
}
#logotxt {
    position: absolute;
    left: 35px;
    top: 15px;
    margin-left: 20px;
    color: #2bb3c0;
    position: absolute;
}
#container {
    width: 50%; 
    text-align: center;
    display: flex;
    position: relative;
}
.paraluokka {
    margin: 34px 10px 10px -12px;
}

#th {   
    position: absolute;
    left: 180px;
    bottom: -124px;
    background-color: #7a8f10;
    width: 120px; 
    height:120px; 
    padding:40px; 
    border:black; 
    border-radius:50%;
    margin-left: 350px;
    cursor: pointer;
    z-index: 1;
    font-size: 27px;
    box-shadow: 2px 2px 5px 0px;
   
}   
#th:hover {
   
    z-index: 5;
    width:180px; 
    height:180px; 
    -webkit-transition: width 2s; /* Safari prior 6.1 */
    transition: width 0.2s;
    font-size: 40px;
}

#ta {
    position: absolute;
    left: 372px;
    bottom: -124px;
    background-color:#e8ab7d;
    width:120px; 
    height:120px; 
    padding:40px; 
    border:black; 
    border-radius:50%;
    margin-right:-196px;
    cursor: pointer;
    font-size: 27px;
    box-shadow: 2px 2px 5px 0px;
}
#ta:hover {
   /* opacity: 2;*/
    z-index: 5;
    width:180px; 
    height:180px; 
    -webkit-transition: width 2s; /* Safari prior 6.1 */
    transition: width 0.2s;
    font-size: 40px;
}
#clear {
    clear: both;
}
#footermenu {
    text-align: center;
    display: flex;
    flex-direction: row;
}
#footermenu ul li {
    list-style-type: none;
}
#footermenu a {
    color: #2bb3c0;
}
#footermenu a:visited {
    color:hsl(184, 59%, 14%);
    

}
#footermenu a:active {
    color:hsl(185, 16%, 84%);
}
.menu-item li {
    margin-top: 300px;
}
/*.region-content {
    
.region-sidebar-first {
    
}*/


@media only screen and (max-width: 768px) {
    #toolbar-item-administration-tray {
        visibility: hidden;
    }
    #toolbar-item-administration-tray:hover {
        visibility: visible;
    }
    #th {
        margin-left: 60px;
    }
    #ta {
        right: -251px;
    }
    #block-tworktheme-account-menu {
        margin-top: 376px;
        margin-left: 20px;
    }
--------------------------/*tästä alkaa lomake css*/----------

.progress-step.is-active .progress-marker {
    background-color: #2bb3c0;
}

.webform-progress ul li .progress-step.is-active {
    background-color: #2bb3c0;
}
h1 {
    text-align: center;
    color: #2bb3c0;
}
.webform-progress-tracker .progress-step.is-active .progress-title {
    font-weight: bold;
    color: #2bb3c0;
}
.form-textarea-wrapper textarea {
    display: block;
    box-sizing: border-box;
    width: 90%;
    margin: 40px;
    padding: 10px;
}
.webform-flexbox {
    display: block;
    box-sizing: border-box;
    width: 60%;
    margin: 30px;
    padding: 10px;
}
.form-item, .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
    margin: 20px;
}
.label {
    padding: 10px;
}
#edit-osaaminen- {
    padding: 30px;
}